# === API Server ===
fastapi
uvicorn
requests
pillow

# === Core Zero123 Dependencies ===
torch==1.12.1+cu113
torchvision==0.13.1+cu113
--extra-index-url https://download.pytorch.org/whl/cu113
pytorch-lightning==1.9.4
omegaconf==2.3.0
einops==0.8.1
tqdm==4.64.1
pytorch-lightning==1.9.4
git+https://github.com/CompVis/taming-transformers.git@master
git+https://github.com/openai/CLIP.git
kornia==0.6.8
invisible-watermark
transformers==4.31.0

# === CarveKit (for background removal in util.py) ===
opencv-python-headless==4.5.5.64
numpy==1.22.4
pillow==9.0.1

# === Additional utilities
matplotlib==3.5.3
scikit-image==0.19.3
imageio==2.22.4

# 아래 거 마지막에 따로 실행행
# pip install carvekit==4.1.0 --no-deps